*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  gap: 30px;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
}
ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
  box-sizing: border-box;
  width: 100%;
  min-width: 1140px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 133px 30px;
}

.result {
  box-sizing: border-box;
  min-width: 711px;
}

.result__video-container {
  position: relative;
  z-index: 2;
  min-height: 386px;
}

.result__video {
  width: 100%;
}

/* форма поиска */
.search-form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-right: 40px;
  padding-top: 16px;
}

.search-form:last-child {
  margin-right: 0;
}

.search-form__fieldset {
  flex: 1;
  border: none;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

/* лэйбл */
.search-form__label {
  display: inline-flex;
  width: fit-content;
  margin-right: 15px;
}

.search-form__label:last-child {
  margin-right: 0;
}

.search-form__label:hover {
  cursor: text;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__label-text {
  margin-left: 5px;
}

.search-form__label-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 225px;
  height: 27px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  background-color: inherit;
  appearance: none;
}

/* чекбоксы */
.search-form__checkbox-list {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 5px;
}

.search-form__checkbox-list:last-child {
  gap: 0;
}

.search-form__checkbox-list:has(:focus-visible) {
  outline: 1px solid #fff;
}
.search-form__checkbox {
  width: 19px;
  height: 19px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding-left: 1px;
}

.search-form__pseudo-checkbox:hover {
  cursor: pointer;
}

.search-form__pseudo-checkbox::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  opacity: 0;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  opacity: 1;
}

.search-form__label:active {
  outline: 1px solid #fff;
}

/* кнопка */
.button {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 34px;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  background-color: #1b1919;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}
.search-form__submit-button:hover {
  text-decoration: underline;
}

.search-form__submit-button:active {
  background: #545050;
}

.search-form__submit-button:focus-visible {
  outline: 1px solid #fff;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"] {
  outline: none;
}

/* ---------------------------------------------------------------- */
/* правая часть страницы */
.content__details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 26px;
  max-width: 399px;
  height: 534px;
}

/* заголовок */
.title {
  margin: 0;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}
.content__list .preloader {
  z-index: 2;
}

/* список */
.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 298px;
  margin: 0;
  overflow-y: scroll;
}

/* ползунок */
.content__list::-webkit-scrollbar {
  width: 0px;
}

.content__list::-webkit-scrollbar-thumb {
  background: transparent;
}

.content__list::-webkit-scrollbar-track {
  background: transparent;
}

.preloader {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.content__list-item {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  padding-bottom: 30px;
}

.content__list-item:last-child {
  padding-bottom: 0;
}

.content__list-item:hover {
  text-decoration: underline;
}

.content__card-link {
  display: block;
  margin: 2px;
  text-decoration: none;
}

.content__list-item:focus {
  outline: none;
}

.content__list-item:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link.content__card-link_current:active {
  background: #545050;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__video-card-description-container {
  flex: 1;
  width: 200px;
  overflow: hidden;
}

.content__video-card-description-container:active {
  background: #545050;
}

.content__video-card-title {
  overflow: hidden;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 100%;
  text-decoration: none;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 16.2px;
  text-decoration: none;
}

.content__video-card-thumbnail {
  align-self: flex-end;
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.more-button-template {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
}

.more-button {
  width: 399px;
  background-color: transparent;
}